<div class="row-fluid">
	<div class="text-container span10">
		<%# render 'codemirror', :btn_name => t('helpers.submit.update', :model => Entry.model_name.human)%>
		<%= render 'codemirror', :btn_name => 'Update'%>
	</div>
	<!-- tools -->
	<!-- <div class="span2">
		<ul class="nav affix">
			<li class="nav-header">Tools</li>
			<li><a href="#" type="button" class="btn">Publish</a></li>
			<li class="active"><a href="#">Help</a></li>
		</ul>
	</div>-->
</div>