<blockquote>
	<%= content_paragraphs %>
	<small class="pull-right"><%= @entry.created_at.to_s %></small>
</blockquote>
<p class="muted">
	<% @shortUrlPairs.each do |name, url| %>
		<small>
			<%= raw clippy url %><%= url %>
		</small>
		<br>
	<% end %>
</p>