<div class="row-fluid">
	<div class="content-view span10">
		<%= markdown @entry.content %>
	</div>
	<div class="span2">
		<p class="muted affix">
			<% @shortUrlPairs.each do |name, url| %>
				<small>
					<%= raw clippy url %><%= url %>
				</small>
				<br>
			<% end %>
		</p>
	</div>
</div>
