/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
	margin: auto;
	width: 50%;
}


.row-fluid {
}

/*

*/
.span9 {
	width: 90%;
	float: left;
}

.span8 {
	width: 80%;
	float: left;
}

.span7 {
	width: 70%;
	float: left;
}

.span6 {
	width: 60%;
	float: left;
}

.span5 {
	width: 50%;
	float: left;
}

.span4 {
	width: 40%;
	float: left;
}

.span3 {
	width: 30%;
	float: left;
}

.span2 {
	width: 20%;
	float: left;
}

.span1 {
	width: 10%;
	float: left;
}