// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
blockquote p {
	margin-bottom: 20px;
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
}