// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
blockquote p {
	margin-bottom: 20px;
}

body {
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 60px;
	padding-bottom: 60px;
}

.content-view {
	
}

/*
 * auto resize the codemirror editor.
 */
.CodeMirror {
	border: 1px solid #eee;
	height: auto;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}

.cm-header { 
	font-size: 120%; 
	font-family: arial; 
}

.cm-strong { 
	font-weight: bold;
}

.cm-link {

}

.cm-string {

}

.cm-comment {
	
}