// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin-top: 60px;
}

.sidebar {
	left: 5px;
}

.sidebar object {
	padding-bottom: 2px;
}

.text-container {
	margin-bottom: 60px;
	margin-right: 10px;
	padding-bottom: 60px;
}

/* The html text line height */
.text-container p {
	line-height: 1.8em;
}

/*
 * auto resize the codemirror editor.
 */
.CodeMirror {
	/*border: 1px solid #eee;*/
	height: auto;
	line-height: 145%;
	font-family: "Source Sans Pro";
	font-size: 16px;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}

.activeLine {
	background: #e8f2ff !important;
}

.cm-header { 
	font-size: 120%; 
	color: #525252 !important;
}

.cm-strong { 
	font-weight: bold;
}

.cm-link {
	color: #C7865B !important;
}

.cm-string {
	color: #885184 !important;
}

.cm-comment {
	color: #4287B4 !important;
}

.cm-quote {
	color: #FF9B9B !important;
}

.cm-error {
	background-color: rgba(236, 160, 160, 0.46) !important;
}

.cm-em {
	/*color: #CCC;*/
}